{% extends "base.html" %} {% block content %}
<h2>Works log</h2>

{% for item in jobs %}
<div>
    <h5>Action #{{item.id}}</h5>
    <table class="table table-hover">
        <thead>
            <tr class="table-active">
                <th scope="col">Title of activity</th>
                <th scope="col">Team leader</th>
                <th scope="col">Duration</th>
                <th scope="col">List of collaboratios</th>
                <th scope="col">Is finished</th>
            </tr>
        </thead>
        <tbody>
            <tr class="table-primary">
                <th scope="row">{{item.job}}</th>
                <td>{{item.team_leader}}</td>
                <td>{{item.work_size}}</td>
                <td>{{item.collaborators}}</td>
                <td>{{item.is_finished}}</td>
            </tr>
        </tbody>
    </table>
</div>
{% endfor %} {% endblock %} 
